
<head>
    <style>
        .tab {
            display: inline-block;
            margin-left: 40px;
        }
    </style>
</head>
<body>
    <h1 style="color: deeppink;"><span class="tab"></span>ABOUT NEON</h1>
    <b><span class="tab"></span>NEON began as a project for our team's TECM 4400 course.</b>

    <p><span class="tab"></span>Our professor, Dr. Lam took us through the process of building an app from scratch, whereas our team had full creative liberty for the actual purpose of the app.</p>

	<p><span class="tab"></span>We then decided to create a web application that would help streamline the PC (personal desktop computer) building process, as it is very difficult to build a PC on your own, making it tedious to build a PC despite all of the benefits over a pre-built machine.</p>

	<p><span class="tab"></span>Our app is meant to help beginners to PC building as well as anyone else looking for an easier way to choose the parts needed for the PC of your dreams.</p>

	<p><span class="tab"></span>This app was created using Ruby on Rails, Javascript, CSS, and HTML.</p>

	<p><span class="tab"></span>For any questions, please email us at neonapp@gmail.com</p>

</body>