<head>
    <style>
        .tab {
            display: inline-block;
            margin-left: 40px;
        }
    </style>
</head>
<body>
    <h1 style="color: deeppink;"><span class="tab"></span>NEON</h1>
    <b><span class="tab"></span>The PC builder app that makes picking parts as easy as level 1-1.</b>

    <p><span class="tab"></span>NEON helps users of all experience levels pick the right parts for their own specific needs.</p>
	<p><span class="tab"></span>Through our carefully articulated entry quiz, users will be able to narrow down the level of performance their PC will need.</p>

	<p><span class="tab"></span>From there, NEON recommend parts that are not only within their price range but also 100% guaranteed compatible with the rest of their PC.</p>

	<p><span class="tab"></span>Neon helps you speedrun your PC building adventure and allows you to simply purchase and build without worrying about all the tedious reserach.</p>

</body>