<head>
    <style>
        .tab {
            display: inline-block;
            margin-left: 40px;
        }
    </style>
</head>
<body>
    <h1 style="color: deeppink;"><span class="tab"></span>Part Information</h1>

    <h2 style="color: royalblue;"><span class="tab"></span>CPU</h2>
    <p><span class="tab"></span>A CPU (Central Processing Unit) is a computers brain. It is responsible for all data processing operation, and it tells the rest of the computer components what to do. Having a better CPU can improve how fast a computer can run because the more powerful a CPU is, the more tasks it can handle at once. </p>

    <h2 style="color: royalblue;"><span class="tab"></span>Motherboard</h2>
	<p><span class="tab"></span>The motherboard is one of the most important components of the computer because it is the backbone that ties everything else together and allows each component to communicate and interact with each other. It is often chosen after you have decided on what CPU you want to use. </p>

    <h2 style="color: royalblue;"><span class="tab"></span>Memory (RAM)</h2>
    <p><span class="tab"></span>RAM (Random Access Memory) are pieces of hardware that allow your computer to store memory in the short term. Every program you run will need to use at least a little bit of RAM to run, and more intensive programs, such as video games, want or need higher amounts of ram to run. </p>

    <h2 style="color: royalblue;"><span class="tab"></span>Storage</h2>
    <p><span class="tab"></span>Every computer needs storage for file, programs, and applications. There are 2 major types of storage, HDDs and SSDs. HDDs (Hard Disk Drives) are the cheaper storage option, usually providing much more storage for the price compared to SSDs. SSDs (Solid State Drives) allow for faster saving or loading from storage, meaning that programs will load faster when stored on an SSD. They are, however, much more expensive than HDDs. </p>

    <h2 style="color: royalblue;"><span class="tab"></span>Power Supply</h2>
    <p><span class="tab"></span>A power supply is what provides power to the entire computer and all its parts. The type and strength of the power supply you need will change depending on the parts that you build your computer with. Generally, the more powerful parts you build your computer with, the stronger power supply you will need. </p>

    <h2 style="color: royalblue;"><span class="tab"></span>System Cooling</h2>
    <p><span class="tab"></span>Due to computer parts producing high amounts of heat when in use, computers need a way to cool down the parts to prevent damage. There are 2 main types of cooling used, air cooling and water cooling. Air cooling involves fans helping your computer expel hot air out of it to keep it cool. It is often the cheaper type of cooling and requires much less maintenance. Water cooling, however, uses water in pipes to take away heat from the components. This type of cooling is more efficient but also more expensive. This method of cooling also requires more maintenance to keep working effectively. </p>

    <h2 style="color: royalblue;"><span class="tab"></span>Graphics Card</h2>
    <p><span class="tab"></span>A graphics card is an expansion card for your PC that is responsible for rendering images to the display. High-end GPUs are used for gaming, ray tracing, graphics production, and even mining cryptocurrency.</p>

</body>