/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";


/* GLOBAL STYLES */

html{
    font-size: 16px;
}


body {
  background-color: #a891ed;
}

.btn-primary{
    background-color: #a242cb;
    border: none;
    border-radius:  30px;
    padding-right: 2rem;
    padding-left: 2rem;
}

.btn-primary:hover{
    background-color: #e9e1eb;
    color: #a242cb;
}

.btn-secondary{
    background-color: #a242cb;
    border: none;
    border-radius:  30px;
    padding-right: 2rem;
    padding-left: 2rem;

}

.btn-secondary:hover{
    background-color: #e9e1eb;
    color: #a242cb;
}

/* INDEX VIEW STYLES */

.part-card{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}


.part-card h2{
    text-align: center;
    font-size: 1.25rem;
    margin-top: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.part-card p{
    text-align: center;
    font-size: 1rem;
}
/*
img.part-show {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center center;
}
*/

.part-card {
    background: whitesmoke;
    background-color: #eee6ff;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


img.part-index{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    align-content: center;
}


/* SHOW VIEW STYLES */

img.part-show{
    width: 50%;
    height: 50%;
    object-fit: cover;
    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    align-content: center;
}

/*
.show-hero{
    height: 450px;
    position: relative;
}

.show-hero-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
}

*/







